<%= form_for(@pic) do |f| %>
<% if @pic.errors.any? %>
  <div id="error_explanation">
    <h2><%= @pic.errors.count %>件のエラーがあります。</h2>

    <ul>
    <% @pic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>





<div class="field">

   <%= f.label :image %><br>
   <%= f.file_field :image %>
   <%= f.hidden_field :image_cache %>
 </div>

<% if @pic.image? %>
  <div class="thumbnail">
    <%= image_tag @pic.image.url %>
  </div>
<% end %><br>


<%= f.submit %>
<% end %>

<%= link_to '戻る', :back %>
