
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>

<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

<%= form_for(@pic) do |f| %>
<%= f.error_messages! %>


   <%= f.label "写真を投稿する" %>
   <%= f.file_field :image %>
   <%= f.hidden_field :image_cache %>
   <br>
  <%= f.text_area :content, class: 'form-control' ,placeholder: '内容を入力'%>


<%= f.submit '投稿',class: 'btn btn-prymary btn-block' %>
<% end %>

</div>
</div>

<% @pics.each do |pic| %>
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
<div class="row">
<div class="thumbnail">
  <%= image_tag(pic.user.image_url) %>
<font size=1><i>投稿者：<%= pic.user.name%></i></font>
<% if pic.image? %>
 <%= link_to image_tag(pic.image.url) , edit_pic_path(pic.id)%>
  <% end %>
<p><%= pic.content %><p>
<% if current_user.id == pic.user.id%>
  <%= link_to "編集", edit_pic_path(pic.id),class: 'btn btn-default btn-sm btn-success' %>
  <%= link_to "削除", pic_path(pic.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？'},class: 'btn btn-default btn-sm btn-danger'  %>
  <% end %>
</div>


</div>
</div>
<% end %>
