<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"

</head>

<header>
    <ul>
      <p class="flash"><%= notice %><%= alert %></p>
      <img>
      <%= link_to image_tag('camera.png'), pics_path%>
      <%= link_to image_tag('instagram.png'), pics_path%>
      </img>

   </ul>


      <% if user_signed_in? %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete  %></li>
      <li><%= link_to 'マイページ', edit_user_registration_path %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <li><%= link_to 'サインアップ', new_user_registration_path %></li>
      <% end %>

    </header>


<body>
  <%= yield %>
  </body>
  </html>
